.listText span {
  width: 12px;
  cursor: pointer;
  font-weight: 500;
}

.listItem {
  padding: 5px 16px 5px;
  border-bottom: 1px solid #3b5e9c;
}

.listItem div {
  padding: 0;
}

.quebec {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 3;
  margin: 0;
  border: 0;
  width: 2px;
  height: 87px;
  padding: 0;
  overflow: hidden;
  background: #f50057;
  transition: top 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.listItem:nth-child(1).active ~ span.quebec {
  top: 0px;
}

.listItem:nth-child(2).active ~ span.quebec {
  top: 87px;
}

.listItem:nth-child(3).active ~ span.quebec {
  top: 174px;
}
